:root {
  --radius: 2px;
  --baseFg: dimgray;
  --baseBg: white;
  --accentFg: #e3c4a8;
  --accentBg: #226089;
}

select {
  font: 400 14px/1.5 sans-serif;
  -webkit-appearance: none;
  appearance: none;
  color: var(--baseFg);
  border: 1px solid var(--baseFg);
  line-height: 1;
  outline: 0;
  padding: 0.65em 2.5em 0.55em 0.75em;
  border-radius: var(--radius);
  background-color: var(--baseBg);
  background-image: linear-gradient(var(--baseFg), var(--baseFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(var(--accentBg) 42%, var(--accentFg) 42%);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
  background-position: right 20px center, right bottom, right bottom, right bottom;
}

select:hover {
  background-image: linear-gradient(var(--accentFg), var(--accentFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
}

select:active {
  background-image: linear-gradient(var(--accentFg), var(--accentFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
  color: var(--accentBg);
  border-color: var(--accentFg);
  background-color: var(--accentFg);
}




body {
    font-family: sans-serif;
    line-height: 1.5;
    font: #000000;
    background-color: #e3c4a8;
}

.GridContainer {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 600px) 1fr;
  grid-template-rows: auto auto 2em;
}


.Header {
  grid-column: 2;
  grid-row: 1;
}


#BarChart {
  padding: 10px;
  margin: 5px;
  grid-column: 2;
  grid-row: 2;
  justify-content: center;

}

hr {
    display: block;
    grid-column: 2;
    grid-row: 3;
    height: 1px;
    border: 0;
    border-top: 5px solid #000000;
    margin: 0;
    padding: 2px;
}

.BarChart-max {
  display: block;
  grid-column: 3;
  grid-row: 3;
}

.BarChart-bar {
  grid-column: 2;
  grid-row: 2;
  background-color: #4592af;
  padding: 8px;
  margin: 5px;
  color: #e3c4a8;
  transition-duration: 0.4s;
  display: flex;
  justify-content: space-between;
  min-width: 110px;
  max-width: 500px;
  max-height: 50px;
}

.BarChart-bar:nth-of-type(odd) {
    background: #226089;
}

.BarChart-bar:hover{
    transform: perspective(200px) translate3d(5px, 0, 2px);
    background-color: #000000;
}
