body {
    font-family: sans-serif;
    line-height: 1.5;
    font: #000000;
    background-color: #e3c4a8;
}


.GridContainer {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 600px) 1fr;
  grid-template-rows: auto auto 2em;
}


.Header {
  grid-column: 2;
  grid-row: 1;
}

hr {
    display: block;
    grid-column: 2;
    grid-row: 3;
    height: 1px;
    border: 0;
    border-top: 5px solid #000000;
    margin: 0;
    padding: 2px;
}
